:root {
  --navy: #0a192f;
  --light-navy: #172a45;
  --dark-gray: #333f58;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
}

.App {
  text-align: center;
  background-color: var(--navy);
  color: var(--white);
  padding: 0.5em 1em;
}

.load-page {
  min-height: 98.35vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 4em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* header style------------------------------------------------------- */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 2%;
  animation: nav-load 2000ms ease-in;
}

@keyframes nav-load {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

#logo {
  height: 2.5em;
  width: auto;
}

.link-container {
  position: relative;
  font-size: 1em;
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

@media (max-width: 500px) {
  .link-container {
    justify-content: flex-end;
  }  
}

.link {
  position: sticky;
  cursor: pointer;
  color: var(--slate);
  padding-bottom: .5em;
  padding-top: .5em;
  padding-left: .4em;
  display: flex;
  width: 3em;
  overflow: visible;
  align-items: center;
  justify-content: center;
  transition-property: transform border-bottom;
  transition-duration: .5s;
  transition-timing-function: ease-out;
  transition-delay: .125s;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.link:hover {
  color: var(--green);
  border-bottom: 1px solid var(--white);
  width: 3em;
}

.resume-link > a {
  text-decoration: none;
  color: var(--green);
  border: 1px solid var(--green);
  padding: 1em 1.5em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resume-link {
  transition-property: transform box-shadow;
  transition-duration: .5s;
  transition-timing-function: ease-out;
  transition-delay: .125s;
  
}

.link-container-child-one {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 4em;
  width: 100%;
}

@media (max-width: 500px) {
  .link-container-child-one {
    display: none;
  }  
}

.resume-link:hover {
  position: sticky;
  background-color: var(--light-navy);
  box-shadow: 4px 4px 0px 2px var(--green);
  transform: translateY(-3px) translateX(-3px);
}

/* hero banner!!!!!------------------------------section------ */
.hero {
  padding: 12em 25em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@media (max-width: 1400px) {
  .hero {
    padding: 2em 4em;
    margin-top: 2em;
  }  
}

.intro {
  color: var(--green);
  font-family: 'Courier New', Courier, monospace;
  animation: intro-animation 2000ms ease-in 4000ms;
  transform: translateY(100%);
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes intro-animation {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

.title {
  font-size: 5em;
  line-height: .5em;
  font-weight: 900;
  animation: title-animation 500ms ease-in 5500ms;
  transform: translateY(100%);
  opacity: 0;
  animation-fill-mode: forwards;
}


@media (max-width: 500px) {
  .title {
    font-size: 4em;
    line-height: 1em;
    text-align: left;
  }
}

@keyframes title-animation {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  80% {
    opacity: 20%;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

.title2 {
  color: var(--slate);
  line-height: .5em;
  font-size: 3.5em;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: .01em;
  word-spacing: .0001em;
  animation: title2-animation 1000ms ease-in 6500ms;
  transform: translateY(100%);
  opacity: 0;
  animation-fill-mode: forwards;
}

@media (max-width: 500px) {
  .title2 {
    font-size: 1.1em;
  }
}

@keyframes title2-animation {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

.first-paragraph {
  width: 38vw;
  height: auto;
  text-align: left;
  color: var(--slate);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  animation: p-animation 1000ms ease-in 7000ms;
  transform: translateY(25%);
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes p-animation {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

@media (max-width: 1400px) {
  .first-paragraph {
    width: 60vw;
  }
}


.intro-paragraph {
  width: 40vw;
  height: auto;
  text-align: left;
  color: var(--slate);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width: 1400px) {
  .intro-paragraph {
    width: 60vw;
  }
  
}

.side-bar {
  position: absolute;
  top: 55%;
  right: 95.5%;
  animation: side-bar-load 2000ms ease-in 2000ms;
  animation-fill-mode: forwards;
  transform: translateY(100%);
}

@media (max-width: 500px) {
  .side-bar {
    display: none;
  }  
}

@keyframes side-bar-load {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

ul {
  list-style: none;
}

.icons {
  position: sticky;
  height: 1.75em;
  width: auto;
  cursor: pointer;
  margin: 1em 0;
  padding: .2em;
  transition-property: transform background-color;
  transition-duration: .25s;
  transition-timing-function: ease-out;
}

.icons:hover {
  background-color: var(--dark-gray);
  border-radius: 5px;
  transform: scale(1.1) translateY(-3px);
}

#line-container {
  border-right: 1px solid var(--slate);
  height: 13.5em;
  margin-right: 1em;
}

.right-side-bar {
  position: absolute;
  top: 97%;
  right: 2%;
  display: flex;
  transform-origin: 95%;
  transform: rotate(0);
  font-size: .75em;
  animation: right-side-bar-load 2000ms ease-in 2000ms;
  animation-fill-mode: forwards;
  
}

@media (max-width: 500px) {
  .right-side-bar {
    display: none;
  }  
}

.right-side-bar a {
  text-decoration: none;
  color: var(--light-slate);
  transition-property: transform translateY();
  transition-duration: .5s;
  transition-timing-function: ease-out;
}

.right-side-bar a:hover {
  color: var(--green);
  padding-right: 8px;
}

@keyframes right-side-bar-load {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(90deg);
  }
}

#other-line {
  width: 21.5em;
  border-bottom: 1px solid var(--slate);
  margin-bottom: 1.45em;
  margin-left: .5em;
}

/* spacer---------------------------- */

#banner {
  height: 16em;
  width: 100vw;
  object-fit: fill;
}

.spacer {
  height: 20vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



/* 
work section------------------------------------------------------- */
.work-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 70vw;
  margin: 1.75em;
  padding: 1em;

  transition-duration: 1000ms;
  transition-timing-function: ease-in-out;
  border-radius: 10px;
}

.work-card:hover {
  background-color: rgba(0, 0, 0, 0.197);
  transform: scale(1.05);
  transition-duration: 1000ms;
  transition-timing-function: ease-in-out;
}

@media (max-width: 500px) {
  .work-card {
    flex-direction: column;
  }  
}

.web-links {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--green);
  background-color: var(--light-navy);
  padding: .25em .5em;
  border-radius: 10px;

  transition-duration: 1000ms;
  transition-timing-function: ease-in-out;
}

.web-links:hover {
  background-color: var(--navy);
  transform: scale(1.05);
  transition-duration: 1000ms;
  transition-timing-function: ease-in-out;
}

img {
  height: 16em;
  width: auto;
}

@media (max-width: 500px) {
  img {
    width: 80%;
    height: auto;
    object-fit: fill;
  } 
  
  .card-info {
    width: 400px;
  }
}

.title-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-holder a {
  text-decoration: none;
  color: var(--white);
  display: flex;
  align-items: center;
}

.link-icon {
  height: 1em;
  width: auto;
}

.card-info {
  padding: 1em;
  width: 30vw;
}


@media (max-width: 500px) {  
  .card-info {
    width: 400px;
  }
}

p.intro-paragraph {
  width: 100%;
  
}

.badges {
  display: flex;
}

.tech-stack {
  padding: .5em 1em;
  color: var(--green);
  background-color: #7bffe022;
  border-radius: 30px;
  margin: 0 .5em;
}


/* about section------------------------------------------------- */


.about-paragraph {
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 2em;
  color: var(--slate);
}

/* footer style -------------------------- */

.footer {
  padding: 2em 0;
}

.nav-link {
  color: #64ffda;
  text-decoration: none;
  cursor: pointer;
}

.nav-link:hover {
  color: var(--white);
}

/* email form-------------------------------- */

#email-anchor {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#email-anchor input {
  background-color: var(--navy);
  color: var(--white);
  padding: 1em;
  margin: 1em;
}

.link-icon-holder {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 25%;
}

@media (max-width: 500px) {
  .link-icon-holder {
    width: 90vw;
  }
}

.link-icon-holder .icons {
  height: 4em;
}

form {
}

#email-anchor textarea {
  background-color: var(--navy);
  color: var(--white);
  margin: 1em;
  padding: 1em;
}

#submit-btn {
  color: var(--green);
  border: 1px solid var(--green);
  padding: 1em 1.5em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#submit-btn:hover {
  background-color: var(--dark-gray);
}

.contact-container {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-container li {
  list-style: none;
}