:root {
  --navy: #0a192f;
  --light-navy: #172a45;
  --dark-gray: #333f58;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
}

.App {
  text-align: center;
  background-color: var(--navy);
  color: var(--white);
  padding: 0.5em 1em;
  line-height: .5em;
  letter-spacing: .4em;
}

.load-page {
  min-height: 98.35vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 10em 15em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* header style------------------------------------------------------- */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 3%;
}

#logo {
  height: 3em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.link-container {
  width: 35vw;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.link {
  cursor: pointer;
  color: var(--slate);
  padding-bottom: .5em;
  padding-top: .5em;
  padding-left: .4em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link:hover {
  color: var(--dark-gray);
  border-bottom: 1px solid var(--light-navy)
}

.resume-link > a {
  text-decoration: none;
  color: var(--green);
  border: 1px solid var(--green);
  border-radius: 5px;
  padding: 1em 1.5em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resume-link:hover {
  background-color: var(--light-navy);
}

/* hero banner!!!!!------------------------------section------ */
.hero {
  padding: 12em 20em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@media (max-width: 1400px) {
  .hero {
    padding: 2em 4em;
    margin-top: 2em;
  }  
}

.intro {
  color: var(--green);
  font-family: 'Courier New', Courier, monospace;
}

.title {
  font-size: 4em;
  font-weight: 900;
}

.title2 {
  color: var(--slate);
  font-size: 3em;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: .08em;
}

.first-paragraph {
  line-height: 2em;
  width: 38vw;
  height: auto;
  text-align: left;
  color: var(--slate);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width: 1400px) {
  .first-paragraph {
    width: 60vw;
  }
}


.intro-paragraph {
  line-height: 2em;
  width: 40vw;
  height: auto;
  text-align: left;
  color: var(--slate);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width: 1400px) {
  .intro-paragraph {
    width: 60vw;
  }
  
}

.side-bar {
  position: absolute;
  top: 55%;
  right: 94.5%;
}

ul {
  list-style: none;
}

.icons {
  height: 1.75em;
  width: auto;
  cursor: pointer;
  margin: 1em 0;
}

#line-container {
  border-right: 1px solid white;
  height: 15em;
  margin-right: 1em;
}
/* 
work section------------------------------------------------------- */
.work-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75vw;
  margin: 5em 0;
}

img {
  height: 16em;
  width: auto;
}

.card-info {
  background-color: rgba(0, 0, 0, 0.098);
  padding: 1em;
  width: 30vw;
}

p.intro-paragraph {
  width: 100%;
  
}

.badges {
  display: flex;
}

.tech-stack {
  padding: .5em 1em;
  color: var(--green);
  background-color: #7bffe022;
  border-radius: 30px;
  margin: 0 .5em;
}


/* about section------------------------------------------------- */


.about-paragraph {
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 2em;
  color: var(--slate);
}

/* footer style -------------------------- */

.footer {
  padding: 2em 0;
}

.nav-link {
  color: #64ffda;
  text-decoration: none;
  cursor: pointer;
}

.nav-link:hover {
  color: var(--white);
}