:root {
  --navy: #0a192f;
  --light-navy: #172a45;
  --dark-gray: #333f58;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
}


.App {
  text-align: center;
  background-color: var(--navy);
  color: var(--white);
  min-height: 200vh;
  padding: 0.5em 1em;
  line-height: .5em;
  letter-spacing: .4em;
}

/* header style------------------------------------------------------- */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3em;
}

#logo {
  height: 3em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.link-container {
  width: 35vw;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.link {
  cursor: pointer;
  color: var(--slate);
  padding-bottom: .5em;
  padding-top: .5em;
  padding-left: .4em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link:hover {
  color: var(--dark-gray);
  border-bottom: 1px solid var(--dark-gray)
}

.resume-link {
  color: var(--green);
  border: 1px solid var(--green);
  border-radius: 5px;
  padding: 1em 1.5em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resume-link:hover {
  background-color: var(--light-navy);
}

/* hero banner!!!!!------------------------------section------ */
.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10em 20em;
}

@media (max-width: 1400px) {
  .hero {
    padding: 2em 4em;
    margin-top: 2em;
  }  
}

.intro {
  color: var(--green);
  font-family: 'Courier New', Courier, monospace;
}

.title {
  font-size: 4em;
  font-weight: 900;
}

.title2 {
  color: var(--slate);
  font-size: 3em;
  font-family: 'Courier New', Courier, monospace;
}

.intro-paragraph {
  line-height: 2em;
  width: 40vw;
  height: auto;
  text-align: left;
  color: var(--slate);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width: 1400px) {
  .intro-paragraph {
    width: 60vw;
  }
  
}


/* about section------------------------------------------------- */

.about {
  height: 100vh;
  padding: 10em 20em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.about-paragraph {
  text-align: left;
  height: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 2em;
  color: var(--slate);
}